<div class="col-6 offset-3">
  <%= form_with(model: [@board, @list], local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.submit nil, class: "btn btn-primary" %>
<% end %>
</div>
