@import "bootstrap";

.gridBorder {
  border: 1px solid black;
}
.logo{
  font-family: 'Erica One', cursive;
}
.title {
  font-family: 'Raleway', sans-serif;
}
.back {
  background-color: #d1fcda;
}

.cardopac {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.cardopac:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.cardback {
  background-color: #841600;
}